html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    background: #fff;
}


@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    41% {
        opacity: 1;
    }

    91% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.first-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #272727;
    animation: go-left 4s cubic-bezier(.74, .06, .4, .92) forwards;
    left: 0;
}

@keyframes go-left {
    0% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.loader ul li {
    display: inline-block;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0 8px;
    font-size: 24px;
    text-transform: uppercase;
    animation: loadNow 4s ease-in-out forwards;
    opacity: 0;
    transform: translateX(0px);
}

@keyframes loadNow {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    20% {
        opacity: 1;
        transform: translateX(0px);
    }

    80% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(-80px);
    }
}

.loader ul li:nth-child(1) {
    animation-delay: 1.1s;
}

.loader ul li:nth-child(2) {
    animation-delay: 1.2s;
}

.loader ul li:nth-child(3) {
    animation-delay: 1.3s;
}

.loader ul li:nth-child(4) {
    animation-delay: 1.4s;
}

.loader ul li:nth-child(5) {
    animation-delay: 1.5s;
}

.loader ul li:nth-child(6) {
    animation-delay: 1.6s;
}

.loader ul li:nth-child(7) {
    animation-delay: 1.6s;
}

.third-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #011826;
    animation: expandNow 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 6.2s;
}

@keyframes expandNow {
    0% {
        width: 0%;
    }

    100% {
        width: 64%;
    }
}

.logo {
    position: absolute;
    left: 0;
    margin: 2em;
    font-family: Arial, Helvetica, sans-serif;

    font-weight: bolder;
    font-size: 18px;
}

.content {
    position: absolute;
    width: 440px;
    top: 46%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding-right: 15px;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;

}

.desc p {
    margin-right: 10px;

}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: none;
    padding: 16px 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #02425F;
    color: #fff;
}

a {
    text-decoration-line: none;
    color: #fff;
}

.img img {
    width: 440px;
}

.img {
    position: fixed;
    z-index: 0;
    top: 46%;
    right: 14%;
    transform: translateY(-50%);
}

img {
    opacity: 0;
    animation: appearimg 0.1s linear forwards;
    animation-delay: 5.1s;
}

.img:after {
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #272727;
    position: absolute;
    animation: rev-img 3.0s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 4s;
}

@keyframes rev-img {
    0% {
        left: 0;
        width: 0%;
    }

    50% {
        width: 440px;
        left: 0;
    }

    100% {
        left: 440px;
        width: 0;
    }
}

@keyframes appearimg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.watch {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 2em;
}